body {
    font-family: 'Roboto', sans-serif;
    color: #223289;
}
#main {
    /*display: grid;*/
    /*grid-template-columns:  1fr;*/
    /*grid-template-rows: 50px;*/
    /*grid-column-gap: 30px;*/

    margin: 30px 45px;
}
#main h2 {
    text-align: center;
}
#main form, #main #outputBlock {
    display: block;
    background-color: #accbe6;
    padding: 8px 15px;
}
#main form {
    margin-bottom: 10px;
}
#main label {

    font-size: 18px;
}
#main input[type="text"] {
    min-width: 300px;
    min-height: 25px;

    padding: 3px 5px;
    margin: 0 10px 0 30px;
}
#main input[type="button"] {
    border: none;
    background: #3f51b5;
    color: white;
    padding: 7px 30px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
#main #output {
    list-style: none;
}
#main #outputBlock li {
    padding: 1px;
}